BenzinpreisApi/credentials.h
BenzinpreisApi/Response.json
BenzinpreisApi/Parsing Program.txt
BenzinpreisApi/97253 Rittershausen und 10Km Radius.json
.vscode/settings.json
.vscode/settings.json
.vscode/settings.json
